<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css"></link>
        <script src="js/script.js"></script>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by @brusmax. It uses data from mapbox.com and darksky.net</p>
            <img class="portrait" src="https://avatars2.githubusercontent.com/u/20573?s=460&v=4">
        </div>
        {{>footer}}
    </body>
</html>