<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="images/cloud.png">
        <link rel="stylesheet" href="css/style.css"></link>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            
            <form>
                <input type="text" placeholder="Type a location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"> </p>

        </div>
        {{>footer}}
        <script src="js/script.js"></script>
    </body>
</html>